.checkout-item-container {
	width: 100%;
	display: flex;
	min-height: 100px;
	border-bottom: 1px solid darkgrey;
	padding: 15px 0;
	font-size: 20px;
	align-items: center;

	.image-container {
		width: 23%;
		aspect-ratio: 1/1;
		padding-right: 15px;

		img {
			position: unset !important;
			object-fit: cover !important;
		}
	}
	.name,
	.quantity,
	.price {
		width: 23%;
	}

	.quantity {
		display: flex;
		align-items: center;

		.arrow {
			cursor: pointer;
		}

		.value {
			margin: 0 10px;
		}
	}

	.remove-button {
		padding-left: 12px;
		cursor: pointer;
	}
}
